*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    text-align: center;
    background-image: linear-gradient(22deg, rgba(212,210,231,1) 35%, rgba(45,50,47,1) 68%);
    background-repeat: no-repeat;
    height: 100vh;
    color: cyan;

}
#interstellar{
    color: rgb(22, 19, 19);
}
#interstellar:hover{
    color: rgb(148, 146, 241);
    font-size: larger;
}
#interstellar:active{
    color: blueviolet;
    font-size: small;
}
