* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display:flex;
    justify-content: space-between;
}
.box {
    width: 150px;
    height: 150px;
    border: 2px solid red;
}

.box1 {
    width: 150px;
    height: 150px;
    border: 2px solid darkblue;
}
.container1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 254px;
}
.container2{
    display: flex;
    flex-direction: column;
    gap: 254px;
}