#pond {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    align-content: space-between;
}
/* https://flexboxfroggy.com/ */