*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
    text-align: center;
}
a{
    color: white;
}
a:hover{
    color: aqua;
}
#behemoti:hover{
    color:white
}