*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#div1{
    border:solid green 2px;
    width:200px;
    height:200px;
    
}
#div2{
    border:solid green 2px;
    width:200px;
    height:200px;
}
#parent{
    display: flex;
    justify-content: space-between;
}