*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    display: flex;
}
.divz{
    width: 200px;
    height: 200px;
    background-color: rgb(64, 169, 240);
    color: blue;
    text-align: center;
    margin: 10px;
}
h1{
    padding: 70px;
}