*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/tom-holland-attends-the-los-angeles-premiere-of-sony-news-photo-1683915930.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    text-align: center;
    font-family: sans-serif;
}